* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Footer */
.footer {
  background-color: #313336; /*#DAF5D5, #313336, #DCDAFA, #DAFAFA, #4E4A8F*/
  padding: 0 1.5em;
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.footer-items {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  max-width: 1250px;
  margin: auto;
}

.footer-links {
  margin: 1em 0;
  padding: 0.5em;
  border-bottom: 2px solid #383b3e;
}

.footer-info {
  padding: 2em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-maker {
  padding: 1.5em;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

#top-button {
  color: #73899f;
  border: none;
  cursor: pointer;
  padding: 0.8em;
  background: linear-gradient(-45deg, #2c2e31, #34373a);
  box-shadow: 5px 5px 10px #2a2b2e, 
              -5px -5px 10px #383b3e;
  border-radius: 15px;
  outline: none;
  user-select: none;
}

#top-button:hover {
  background: linear-gradient(135deg, #2c2e31, #34373a);
}

#top-button:active {
  background: #313336;
  box-shadow: inset 5px 5px 10px #2a2b2e, 
              inset -5px -5px 10px #383b3e;
  color: #75b0f1;
}

#top-button i {
  vertical-align: middle;
}

.social-icon {
  border-radius: 15px;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background: linear-gradient(135deg, #2c2e31, #34373a);
  box-shadow: 5px 5px 10px #2a2b2e, 
              -5px -5px 10px #383b3e;
  margin-right: 0.7em;
}

/*navbar*/
.navbar {
  width: 100%;
  background-color: #313336;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: auto;
}

#home-icon {
  vertical-align: middle;
  border-radius: 15px;
  padding: 0.4em;
  background: linear-gradient(135deg, #2c2e31, #34373a);
  box-shadow: 5px 5px 10px #2a2b2e, 
              -5px -5px 10px #383b3e;
  margin: 0.5em 0.5em;
  color: #ffffff;
}

.navbar-search {
  display: flex;
  flex-direction: row;
  margin: 0 0.5em;
}

.navbar-input {
  background-color: #ffffff;
  width: 300px;
  display: flex;
  flex-direction: row;
  padding: 0.4em;
  box-shadow: 5px 5px 10px #d9d9d9 inset, 
              -5px -5px 10px #ffffff inset;
  border-radius: 15px;
}

.navbar-input>input[type=text] {
  flex-grow: 1;
  outline: none;
  border: none;
  background: transparent;
  margin: 0 0.4em;
  width: 0px;
  font-size: 16px;
}

.navbar-input>button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.navbar-input>button>i {
  font-size: 18px;
  vertical-align: middle;
}

#navbar-icon {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.6em;
  background: linear-gradient(-45deg, #2c2e31, #34373a);
  box-shadow: 5px 5px 10px #2a2b2e, 
              -5px -5px 10px #383b3e;
  margin: 0 0.5em;
  color: #73899f;
  cursor: pointer;
}

#navbar-icon:hover {
  background: linear-gradient(135deg, #2c2e31, #34373a);
}

#navbar-icon:active {
  background: #313336;
  box-shadow: inset 5px 5px 10px #2a2b2e, 
              inset -5px -5px 10px #383b3e;
  color: #75b0f1;
}

#navbar-icon>i {
  vertical-align: middle;
}

/*Media*/
@media only screen and (max-width: 500px) {
  .navbar-input {
    width: 180px;
  }
}