:root {
  --main-color: #e2ebf5;
  --main-light: #ffffff;
  --main-shadow: #c5ccd5;
  --main-font-color: #384d6e;

  --previous-weather-color: #ffffff;
  --previous-weather-shadow: #d9d9d9;
}

/*Home*/

.home-landing {
  background-color: var(--main-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sun {
  animation-name: sunAnim;
  animation-duration: 10s;  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: calc(50% - 47px);
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

@keyframes sunAnim {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}

.home-box {
  margin: 0 1.5em; 
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--main-color);
  position: relative;
  width: 500px;
  height: 210px;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 12px 12px 24px var(--main-shadow), 
              -12px -12px 24px var(--main-light);
}

.home-box>h1 {
  font-size: 80px;
  color: var(--main-font-color);
  text-align: center;
}

.home-search {
  display: flex;
}

.search-field {
  padding: 0.8em;
  box-shadow: 5px 5px 10px var(--main-shadow) inset, 
              -5px -5px 10px var(--main-light) inset;
  flex-grow: 1;
  border-radius: 15px;
  margin: 0 0.2em;
  display: flex;
  flex-direction: row;
  width: 0px;
}

.search-field>input[type=text] {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  flex-grow: 1;
  color: var(--main-font-color);
  width: 0px;
}

#search-field-icon {
  color: #73899f;
  font-size: 12px;
  margin: auto;
  margin-left: 4px;
  user-select: none;
}

.search-field>input[type=text]:focus + #search-field-icon {
  color: #75b0f1;
  filter: drop-shadow(0 0 4px #75b0f1)
}

.icon {
  margin: 0 0.4em;
  color: #73899f;
  background-color: var(--main-bg-color);
  border: none;
  cursor: pointer;
  padding: 0 0.8em;
  background: linear-gradient(-45deg, #cbd4dd, #f2fbff);
  box-shadow: 5px 5px 10px var(--main-shadow), 
              -5px -5px 10px var(--main-light);
  border-radius: 15px;
  outline: none;
  user-select: none;
  display: flex;
  align-items: center;
}

.icon:hover {
  background: linear-gradient(135deg, #cbd4dd, #f2fbff);
}

.icon:active {
  background: var(--main-color);
  box-shadow: 5px 5px 10px var(--main-shadow) inset, 
              -5px -5px 10px var(--main-light) inset;
  color: #75b0f1;
}

#scroll-button {
  width: min-content;
  margin-top: -70px;
  color: white;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
}

#scroll-button>i {
  font-size: 48px;
}

/*Previous weather*/

.weather-card-previous {
  padding: 2em 0;
  background-color: var(--previous-weather-color);
  z-index: 2;
  min-height: 250px;
  margin-bottom: 2em;
  position: relative;
  overflow: auto;
  display: flex;
  scrollbar-width: thin;
}

.scroll-box {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  margin: auto;
  padding: 1em 0;
  box-shadow: 5px 5px 10px var(--previous-weather-shadow) inset, 
              -5px -5px 10px var(--previous-weather-color) inset;
  border-radius: 25px;
}

.weather-card-previous::-webkit-scrollbar-track {
  box-shadow: 5px 5px 10px var(--previous-weather-shadow) inset, 
              -5px -5px 10px var(--previous-weather-color) inset;
  -webkit-box-shadow: 5px 5px 10px var(--previous-weather-shadow) inset, 
                      -5px -5px 10px var(--previous-weather-color) inset;
  border-radius: 100vh;
  background-color: var(--previous-weather-color);
  margin: 6em;
}

.weather-card-previous::-webkit-scrollbar {
  height: 20px;
  background-color: white;
}

.weather-card-previous::-webkit-scrollbar-thumb {
  box-shadow: 5px 5px 10px #f5f5f5 inset, 
              -5px -5px 10px var(--previous-weather-shadow) inset;
  -webkit-box-shadow: 5px 5px 10px #f5f5f5 inset, 
                      -5px -5px 10px var(--previous-weather-shadow) inset;
  background: var(--previous-weather-color);
  border-radius: 100vh;
}

.weather-previous {
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 20px;
  box-shadow: -10px -10px 20px var(--previous-weather-color),
              10px 10px 20px var(--previous-weather-shadow);
}

.icon2 {
  margin: 0 0.4em;
  color: #73899f;
  background-color: var(--previous-weather-color);
  border: none;
  cursor: pointer;
  padding: 0 0.8em;
  background: linear-gradient(-45deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px var(--previous-weather-shadow);
  border-radius: 15px;
  outline: none;
  float: right;
  user-select: none;
}

.icon2:hover {
  background: linear-gradient(135deg, #e6e6e6, #ffffff);
}

.icon2:active {
  background: var(--previous-weather-color);
  box-shadow: 5px 5px 10px var(--previous-weather-shadow) inset; 
  color: #75b0f1;
}

.weather-previous a {
  text-decoration: none;
  color: var(--main-font-color);
}

.weather-previous-zone {
  margin: 0.2em 0.2em 1em;
  padding: 1.5em;
  border-radius: 20px;
  background: linear-gradient(135deg, #abb5a3, #cbd7c2);
  border: 2px solid #a7b39e;
  box-shadow: 7px 7px 14px var(--previous-weather-shadow),
              -7px -7px 14px var(--previous-weather-color),
              -7px -7px 14px #dbe7d0 inset, 
              7px 7px 14px #a2ab9a inset;
  width: 230px;
  height: 243px;
}

.weather-previous-zone:hover {
  background: linear-gradient(135deg, #c2c9be, #e7efe2);
  box-shadow: 7px 7px 14px var(--previous-weather-shadow),
              -7px -7px 14px var(--previous-weather-color),
              -7px -7px 14px #f8fff3 inset, 
              7px 7px 14px #b8beb3 inset;
}

.weather-previous-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5em 0;
  align-items: center;
}

.weather-previous-temp {
  font-size: 18px;
}

table, th, td {
  border: 1px dotted black;
  text-align: center;
}

th>i {
  vertical-align: middle;
}

#no-previous-searches {
  padding: 0 3em;
  text-align: center;
  cursor: pointer;
  color: var(--main-font-color);
}

#no-previous-searches>a {
  text-decoration: none;
  color: var(--main-font-color);
}

.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}

/*Media*/
@media only screen and (max-width: 500px) {
  .home-box>h1 {
    font-size: 50px;
  }

  .sun {
    width: 200px;
    height: 200px;
    bottom: calc(50% + 5px);
  }
}