/*Weather*/

.weather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(-45deg, #cbd4dd, #f2fbff);
}

.weather-container {
  max-width: 1162px;
  overflow: auto;
  padding: 0 1em;
}

.weather-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 72px;
  height: fit-content;
  z-index: 1;
}

.weather-links>a {
  padding: 1em;
  height: min-content;
}

/*All weather cards*/

.weather-card {
  border-radius: 25px;
  color: var(--main-font-color);
  position: relative;
  background: linear-gradient(-45deg, #cbd4dd, #f2fbff);
  box-shadow:  6px 6px 12px #c0c8d0, 
             -6px -6px 12px #ffffff;
  margin: 2em 0;
}

/*Weather basic*/
.weather-card-basic {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-basic-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather-basic-temp {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.weather-basic-temp>#unit, .weather-basic-temp>#temp {
  line-height: 4.8rem;
  font-size: 4.8em;
  font-weight: 100;
}

.weather-basic-minmax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-basic-minmax>span {
  line-height: 2.2rem;
  font-size: 2.2em;
}

.weather-basic-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 25px;
}

.weather-basic-icon {
  display: flex;
  margin: 1em;
  border-radius: 100vh;
  box-shadow: 20px 20px 40px var(--main-shadow), 
              -20px -20px 40px var(--main-light),
              5px 5px 10px var(--main-shadow) inset,
              -5px -5px 10px var(--main-light) inset;
}

.weather-basic-icon>img {
  max-width: 200px;
  margin: 0.5em;
  border-radius: 100vh;
  background: linear-gradient(135deg, #abb5a3, #cbd7c2);
  box-shadow: -5px -5px 10px var(--main-shadow),
              5px 5px 10px var(--main-light),
              -5px -5px 10px #dbe7d0 inset, 
              5px 5px 10px #a2ab9a inset;
}

.weather-basic-desc-text {
  padding: 1em;
  margin: 1em 0 0;
  box-shadow: 5px 5px 10px var(--main-shadow) inset, 
              -5px -5px 10px var(--main-light) inset;
  border-radius: 100vh;
}

.weather-basic-date {
  display: flex;
  flex-direction: column;
}

/*Weather forecast*/
#forecast {
  padding: 1em;
}

.weather-card-forecast {
  position: relative;
  overflow: auto;
  display: flex;
  padding: 1em 0;
}

.forecast-scroll-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  padding: 1em 0;
}

.weather-forecast-single {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.weather-forecast-frame {
  display: flex;
  margin: 3em 1em 1em;
  border-radius: 25px;
  box-shadow: 20px 20px 40px var(--main-shadow), 
              -20px -20px 40px var(--main-light),
              5px 5px 10px var(--main-shadow) inset,
              -5px -5px 10px var(--main-light) inset;
}

.weather-forecast-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #abb5a3, #cbd7c2);
  box-shadow: -5px -5px 10px var(--main-shadow),
              5px 5px 10px var(--main-light),
              -5px -5px 10px #dbe7d0 inset, 
              5px 5px 10px #a2ab9a inset;
  border-radius: 20px;
  margin: 0.5em;
  padding: 0.5em;
}

.weather-forecast-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.weather-forecast-info>span {
  font-size: 1.5em
}

/*Weather details*/
.weather-card-details {
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-details-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 2;
}

.weather-details-feels {
  display: flex;
  flex-direction: column;
}

#feels_like {
  font-size: 3em;
  line-height: 1;
}

.weather-details-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.weather-details-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--main-shadow) inset, 
              -5px -5px 10px var(--main-light) inset;
}

.weather-details-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-shadow);
  padding: 0.25em 0;
}

.weather-details-data>span {
  padding: 0 0.25em;
}

.weather-details-frame {
  display: flex;
  margin: 3em 0 2.5em;
  border-radius: 25px;
  box-shadow: 20px 20px 40px var(--main-shadow), 
              -20px -20px 40px var(--main-light),
              5px 5px 10px var(--main-shadow) inset,
              -5px -5px 10px var(--main-light) inset;
}

.weather-details-daylight {
  padding: 1em;
  margin: 0.6em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #abb5a3, #cbd7c2);
  border-radius: 20px;
  box-shadow: -5px -5px 10px var(--main-shadow),
              5px 5px 10px var(--main-light),
              -5px -5px 10px #dbe7d0 inset, 
              5px 5px 10px #a2ab9a inset;
}

.progress {
  position: relative;
  margin: 0 1.5em;
  float:left;
  text-align: center;
}

.barOverflow { /* Wraps the rotating .bar */
  position: relative;
  width: 180px; height: 90px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
  overflow: hidden;
}

.bar {
  position: absolute;
  top: 0; left: 0;
  width: 180px; height: 180px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 10px solid #86888a;    
  border-bottom-color: #384d6e;  
  border-right-color: #384d6e;
}

/*Weather chart*/
.weather-card-chart {
  padding: 1.5em;
}

.weather-chart-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em;
  margin: 1em 0 2em;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--main-shadow) inset, 
                -5px -5px 10px var(--main-light) inset;
}

.weather-chart-date {
  padding: 0 2em;
}

.weather-chart-values {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.weather-chart-values>#temp {
  font-size: 3em;
  padding-right: 0.2em;
}

.weather-chart-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Skeleton*/
.weather-container-skeleton {
  width: 1162px;
  overflow: auto;
  padding: 0 2em;
}

.skeleton-card {
  border-radius: 25px;
  margin: 3em 0;
  color: #fff;
  background: linear-gradient(120deg, var(--main-color), #fff, var(--main-color));
  background-size: 400%;
  position: relative;
  animation: bg-animation 1.5s cubic-bezier(0.1, -0.1, 0.2, 0.045) infinite alternate;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

/*Scroll*/

.custom-scroll::-webkit-scrollbar-track {
  box-shadow: 5px 5px 10px var(--main-shadow) inset, 
              -5px -5px 10px var(--main-light) inset;
  -webkit-box-shadow: 5px 5px 10px var(--main-shadow) inset, 
                      -5px -5px 10px var(--main-light) inset;
  border-radius: 100vh;
  background-color: var(--main-color);
  margin: 2em;
}

.custom-scroll::-webkit-scrollbar {
  height: 20px;
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  box-shadow: 5px 5px 10px var(--main-light) inset, 
              -5px -5px 10px var(--main-shadow) inset;
  -webkit-box-shadow: 5px 5px 10px var(--main-light) inset, 
                      -5px -5px 10px var(--main-shadow) inset;
  background: var(--main-color);
  border-radius: 100vh;
}

@keyframes bg-animation {
  from {
    background-position: right
  }
  to {
    background-position: left
  }
}

.skeleton-shape {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em;
  border-radius: 2px;
}

@media only screen and (max-width: 1270px) {
  .weather-links {
    background-color: #313336;
    top: auto;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .weather-links>a {
    padding: 0.2em 0.5em;
  }
}