/*Weather*/

.weather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--main-color);
}

.weather-container {
  max-width: 1162px;
  overflow: auto;
  padding: 0 1em;
}

.weather-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 72px;
  height: fit-content;
  z-index: 1;
}

.weather-links>a {
  padding: 1em;
  height: min-content;
}

/*All weather cards*/

.weather-card {
  border-radius: 25px;
  box-shadow: 5px 5px 10px var(--main-shadow), 
              -5px -5px 10px var(--main-light);
  color: var(--main-font-color)
}

/*Weather basic*/
.weather-card-basic {
  padding: 2em;
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-basic-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather-basic-temp {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.weather-basic-temp>#unit, .weather-basic-temp>#temp {
  line-height: 4.8rem;
  font-size: 4.8em;
}

.weather-basic-minmax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-basic-minmax>span {
  line-height: 2.2rem;
  font-size: 2.2em;
  font-weight: 600;
}

.weather-basic-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
  margin: 1em;

  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--main-shadow), 
                -5px -5px 10px var(--main-light);
}

.weather-basic-date {
  display: flex;
  flex-direction: column;
}

/*Weather forecast*/
#forecast {
  padding: 1em;
}

.weather-card-forecast {
  position: relative;
  overflow: auto;
  display: flex;
  padding: 1em 0;
}

.forecast-scroll-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  padding: 1em 0;
}

.weather-forecast-single {
  padding: 1em;
  margin: 1em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--main-shadow), 
              -5px -5px 10px var(--main-light);
}

.weather-forecast-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.weather-forecast-info>span {
  font-size: 1.5em
}

/*Weather details*/
.weather-card-details {
  padding: 2em;
  margin: 3em 0;
  border-radius: 25px;
}

.weather-details-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.weather-details-feels {
  display: flex;
  flex-direction: column;
}

#feels_like {
  font-size: 3em;
}

.weather-details-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 0;
}

.weather-details-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;
  margin: 1em;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--main-shadow), 
              -5px -5px 10px var(--main-light);
}

.weather-details-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-shadow);
  padding: 0.25em 0;
}

.weather-details-wind {
  flex-grow: 2;
  padding: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-details-wind>i {
  font-size: 120px;
  user-select: none;
}

/*Weather chart*/
.weather-card-chart {
  padding: 1.5em;
  margin: 3em 0;
  border-radius: 25px;
}

.weather-chart-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em;
  margin: 1em 0 2em;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--main-shadow), 
                -5px -5px 10px var(--main-light);
}

.weather-chart-date {
  padding: 0 2em;
}

.weather-chart-values {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.weather-chart-values>#temp {
  font-size: 3em;
  padding-right: 0.2em;
}

.weather-chart-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Skeleton*/

.weather-container-skeleton {
  width: 1162px;
  overflow: auto;
  padding: 0 2em;
}

.skeleton-card {
  border-radius: 25px;
  margin: 3em 0;
  color: #fff;
  background: linear-gradient(120deg, var(--main-color), #fff, var(--main-color));
  background-size: 400%;
  position: relative;
  animation: bg-animation 1.5s cubic-bezier(0.1, -0.1, 0.2, 0.045) infinite alternate;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

@keyframes bg-animation {
  from {
    background-position: right
  }
  to {
    background-position: left
  }
}

.skeleton-shape {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2em;
  border-radius: 2px;
}

@media only screen and (max-width: 1270px) {
  .weather-links {
    background-color: #313336;
    top: auto;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .weather-links>a {
    padding: 0.2em 0.5em;
  }
}