body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Weather*/
.weather-container {
  margin: auto;
  border: 1px solid black;
  max-width: 1162px;
}

/*All weather cards*/
.weather-card {
  padding: 2em;
  margin: 3em 0;
  border: 1px solid red;
  border-radius: 25px;
}

/*Weather basic*/
.weather-basic {
  display: flex;
  justify-content: space-between; /*center*/
  flex-wrap: wrap;
}

.weather-basic-info {
  display: flex;
  flex-direction: column;
}

.weather-basic-temp {
  display: flex;
  align-items: center;
}

.weather-basic-temp #unit, #temp {
  font-size: 6em  
}

.weather-basic-temp span {
  font-size: 2em
}

.weather-basic-minmax {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-basic-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-basic-desc img {
  width: 200px;
}