body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Weather*/
.weather-container {
  margin: auto;
  border: 1px solid black;
  max-width: 1162px;
}

/*All weather cards*/
.weather-card-basic {
  padding: 2em;
  margin: 3em 0;
  border: 1px solid red;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-card-forecast {
  padding: 2em; 
  margin: 3em 0;
  border: 1px solid green;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.weather-card-details {
  padding: 2em; 
  margin: 3em 0;
  border: 1px solid cyan;
  border-radius: 25px;
}

.weather-card-chart {
  padding: 2em;
  margin: 3em 0;
  border: 1px solid magenta;
  border-radius: 25px;
}

/*Weather basic*/
.weather-basic-info {
  display: flex;
  flex-direction: column;
}

.weather-basic-temp {
  display: flex;
  align-items: center;
}

.weather-basic-temp #unit, #temp {
  font-size: 6em  
}

.weather-basic-temp span {
  font-size: 2em
}

.weather-basic-minmax {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-basic-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-basic-desc img {
  width: 200px;
}

/*Weather forecast*/
.weather-forecast-single {
  padding: 1em;
  margin: 1em 0.5em;
  border: 1px solid blue;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-forecast-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.weather-forecast-info span {
  font-size: 1.5em
}

/*Weather details*/
.weather-details-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.weather-details-feels {
  display: flex;
  flex-direction: column;
}

#feels_like {
  font-size: 3em;
}

.weather-details-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.weather-details-table {
  display: flex;
  border: 1px solid green;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;
  border-radius: 25px;
  margin: 2em 2em 2em 0;
}

.weather-details-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-details-wind {
  flex-grow: 2;
  border: 1px solid red;
  border-radius: 15px;
  padding: 2em;
}

/*Weather chart*/
.weather-chart-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}